<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.aau.cs.giraf.pictosearch"
	xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    
    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/ic_launcher"
        android:label="PictoSearch"
		android:theme="@style/AppTheme" 
		tools:replace="label"	
		>
        
        <activity
            android:name="dk.aau.cs.giraf.pictosearch.PictoAdminMain"
            android:label="@string/title_activity_picto_main"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:logo="@drawable/ic_action_search"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity
            android:name="dk.aau.cs.giraf.pictosearch.HelpMenu"
            android:label="@string/title_activity_help_menu" >
        </activity>
    </application>
    
</manifest>
